<!-- begin clients -->
<section class="section clients">
  <div class="container">
    <div class="row">
      <div class="section__info">
        <div class="section__head">
          <h2 class="section__title">{{ site.data.settings.testimonial__title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12"></div>
        <img src="images/clients.png" style="padding-left:5%; padding-right:5%;"/>
      </div>
    </div>
  </div>
</section>
<!-- end clients -->